<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Meat trade web application">
    <meta name="author" content="">

    <title>Query sale - Slaughterhouse to Supermarket</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/lib/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-blue fixed-top">
        <a class="navbar-brand" href="/">Meat Trade</a>
    </nav>

    <div class="row main-content">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Register sale</span>                    
                </h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/farm/register">                            
                            Farm to Slaughterhouse <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/slaughterhouse/register">                            
                            Slaughterhouse to Supermarket
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Query sales</span>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="/farm/query">                            
                            Farm to Slaughterhouse
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/slaughterhouse/query">                            
                            Slaughterhouse to Supermarket
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-10 col-lg-10 col-sm-12 container">
            <div class="alert" id="alert" role="alert">
                <button type="button" class="close" onclick="hideAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5></h5>
            </div>
            <div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h3>Query sale from Slaughterhouse to Supermarket</h3>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <form onsubmit="return querySale()" id="formQuerySale">
                            <div class="form-group">
                                <label>Seller *</label>
                                <br />
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="slaughterhouse" id="slaughterhouse1"
                                        checked="checked" value="Slaughterhouse">
                                    <label class="form-check-label" for="slaughterhouse1">Slaughterhouse</label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="invoiceNumber">Invoice number *</label>
                                <input type="text" class="form-control" id="invoiceNumber" required>
                            </div>
                            <div class="form-group">
                                <label>Sale type *</label>
                                <br />
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="saleType" id="saleTypePublic"
                                        checked="checked" value="querySale">
                                    <label class="form-check-label" for="saleTypePublic">Public</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="saleType" id="saleTypePrivate"
                                        value="queryPrivateSale">
                                    <label class="form-check-label" for="saleTypePublic">Private</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <button class="btn btn-success" type="submit">Query
                                            sale</button>
                                    </div>
                                </div>
                            </div>

                        </form>

                        <br />
                        <hr class="my-6">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <h4>Query result</h4>
                                <div class="form-group">
                                    <table id="tableResult" class="table table-striped">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Id</th>
                                                <th scope="col">Cattle Id</th>
                                                <th scope="col">Weight</th>
                                                <th scope="col">Type</th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </main><!-- /.container -->
    </div>    
    <script src="../js/main.js"></script>
    <script src="../js/slaughterhouse/querySale.js"></script>
</body>

</html>